.bg-image{
    background-image: url(images/thankyou.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    max-width: 80%;
    margin: auto;
}
.logo{
    padding-top: 30px;
}
.content{
    padding: 150px;
    max-width: 300px;
    margin: auto;
}
.title{
    font-size: 50px;
    font-weight: bold;
    font-family: comfortaa;
    line-height: 0;
    margin: 0;
}
.title-p{
    font-size: 25px;
    font-family: comfortaa;
}
@media screen and (max-width: 600px) {
    .container{
        padding: 0 1em;
    }
    .content{
        padding: 150px 0px;
    }
    .title{
        font-size: 25px;
    }
    .title-p{
        font-size: 20px;
        font-family: comfortaa;
    }
}
